.aboutus{
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.aboutus .cards{
  width:400px;
  height:400px;
  margin:4% 0;
}
.item-card {
  width: 300px;
  margin: 0 10px 32px;
  cursor: pointer;
}
.item-card p {
  margin: 0 0 4px;
  color: black;
  text-align: center;
  font-family: 'Bodoni Moda', serif;
}
.item-list-image {
  border: 4px solid white;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.social{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.socialtwo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}